body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #25283a;
  height: 60px;
}

.mainNav,
.socialNav {
  display: flex;
  align-items: center;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  padding: 0 8px;
  color: #aaabaf;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #3cc88f;
}

.socialNav > p {
  margin: 0;
  color: #aaabaf;
  font-weight: bold;
}

.landingHeader {
  height: 80vh;
}

.landingHeader::after {
  content: "";
  background-image: url('./assets/healthcare\ workers.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingHeader::before {
  content: "";
  background: #3cc88f;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.makeshiftLogo,
.logoWrapper {
  display: flex;
}

.makeshiftLogo {
  padding: 120px 0 0 120px;
  position: relative;
  height: 200px;
  width: 200px;
}

.makeshiftLogo > div > h2 {
  position: absolute;
  left: 200px;
}

h2 {
  margin: 0;
  color: #25283a;
  font-size: 50px;
}

.logoWrapper > i {
  color: #3cc88f;
  font-size: 40px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.callToAction > h1, h3, button {
  color: #fff;
}

.callToAction > h1 {
  font-size: 60px;
  margin: 30px 0;

}

button {
  border-radius: 15px;
  padding: 15px 30px;
  border: none;
  background-color: #3cc88f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 600;
}

button:hover {
  background-color: #25283a;
}

.aboutUsWrapper {
  background-color: #e4e7eb;
}

.aboutFlex,
.teamFlex {
  display: flex;
}

.missionStatement {
  padding: 100px 50px;
  width: 50%;
}

.missionStatement > h4,
.organizationDescription > div > h4,
.contactMessage > h4 {
  color: #3cc88f;
}

.missionStatement > h2, p {
  color: #25283a;
  margin: 20px 0;
  font-weight: 600;
}

.howToHelp {
  padding: 100px 50px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.howToHelp > div {
  background-color: white;
  border-radius: 20px;
  width: calc(50% - 80px);
  margin: 20px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.howToHelp > div > p {
  margin: 0;
  margin-top: 30px;
}

.howToHelp > div > i {
  font-size: 50px;
}

.howToHelp > div:first-of-type > i {
  color: #ff6b70;
}

.howToHelp > div:nth-of-type(2) > i {
  color: #21d7d9;
}

.howToHelp > div:nth-of-type(3) > i {
  color: #f7a900;
}

.howToHelp > div:nth-of-type(4) > i {
  color: #3cc88f;
}

.howWeHelp {
  background-color: #e4e7eb;
  padding-bottom: 100px;
}

.organizationDescription {
  padding: 100px 50px;
}

.teamPhoto,
.organizationDescription {
  width: 50%;
}

.teamPhoto {
  display: flex;
  justify-items: center;
}

.teamPhoto > img {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 auto;
}

.contactUs {
  background-color: #e4e7eb;
}

.contactUsWrapper {
  display: flex;
}

.contactMessage,
.contactWrapper {
  width: 50%;
  padding: 100px 50px;
}

.contactWrapper > form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border-radius: 20px;
  padding: 20px 30px;
  border: none;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.3);
  margin: 10px 0;
}

.emailNameWrapper {
  width: 100%;
  display: flex;
}

.emailNameWrapper > input {
  width: calc(50% - 10px);
}

.emailNameWrapper > input:first-of-type {
  margin-right: 10px;
}

#submit {
  width: 200px;
}